.custom-border {
  border-bottom: 3px solid #c7185d;
  width: 57%;
  margin-bottom: 26px;
  padding: 14px;
}
.custom-border a {
  margin-bottom: 10px;
}
.list li {
  margin-bottom: -13px;
  list-style-type: none;
}
