.chef-main {
  border: 1px solid #ddd;
}
.chef-recipe-img {
  height: 46vh;
  width: 100%;
}
.recipe-page-multiple {
  border: 1px solid #ddd;
}
.fav-btn {
  width: 100%;
}
.favorite-btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}